body {
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

/*CELULAR*/
@media (max-width: 480px) {
    #title1_cadastro {
        text-align: center;
        font-size: 140%;
        color: #3A4354;
    }

    .outline {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title2_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    #sair_cadastro a {
        text-align: center;
        color: #3A4354;
        font-size: 100%;
        font-weight: 700;
        font-weight: 700;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2% 10%;

    }

    .art11 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto11_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras11_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art12 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto12_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras12_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art13 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto13_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras13_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box2 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2% 0 2% 10%;
    }

    .art21 {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        margin: 5% 0 0 0;
    }

    #texto21_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras21_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .box3 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2% 10%;
        justify-content: space-between;
    }

    .art31 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto31_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras31_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art32 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto32_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras32_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art33 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto33_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras33_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box4 {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-evenly;
    }

    .art41 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto41_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras41_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art42 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto42_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras42_cadastro {
        width: 100%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art43 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto43_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras43_cadastro {
        width: 30%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art44 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto44_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras44_cadastro {
        width: 20%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box5 {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 0 0 10%;
    }

    .art51 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto51_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras51_cadastro {
        width: 70%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art52 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto52_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras52_cadastro {
        width: 70%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art53 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto53_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras53_cadastro {
        width: 70%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title6_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    .box6 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2% 10%;
    }

    .art61 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto61_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras61_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art62 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto62_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras62_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art63 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto63_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras63_cadastro {
        width: 50%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box7 {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 2% 10%;
    }

    .art71 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5% 0 0 0;
    }

    #texto71_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras71_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art72 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #texto72_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras72_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .but {
        display: flex;
        width: 100%;
        margin: 5% 0;
        align-items: center;
        justify-content: center;

    }

    .but a {
        width: 50%;
        text-align: center;
        text-decoration: none;
        background-color: #3A4354;
        color: white;
        font-size: 90%;
        border-radius: 50px;
    }

    a:hover {
        transform: scale(1.05);
        transition: 0.2s;
    }
}













/*TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
    #title1_cadastro {
        text-align: center;
        font-size: 170%;
        color: #3A4354;
    }

    .outline {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title2_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    #sair_cadastro a {
        text-align: center;
        color: #3A4354;
        font-size: 100%;
        font-weight: 700;
        font-weight: 700;
    }

    .box1 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2% 10%;
        justify-content: space-between;
    }

    .art11 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto11_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras11_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art12 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto12_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras12_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art13 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto13_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras13_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box2 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2% 0 2% 10%;
    }

    .art21 {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: start;
    }

    #texto21_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras21_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .box3 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2% 10%;
        justify-content: space-between;
    }

    .art31 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto31_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras31_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art32 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto32_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras32_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art33 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto33_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras33_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box4 {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
    }

    .art41 {
        display: flex;
        flex-direction: column;
        width: 10%;
    }

    #texto41_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras41_cadastro {
        width: 120%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art42 {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    #texto42_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras42_cadastro {
        width: 100%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art43 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    #texto43_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras43_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art44 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    #texto44_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras44_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .box5 {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 0 0 0 10%;
        justify-content: space-between;
    }

    .art51 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto51_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras51_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art52 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto52_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras52_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art53 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto53_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras53_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title6_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    .box6 {
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 2% 0 2% 6.5%;
        justify-content: space-around;
    }

    .art61 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto61_cadastro {
        width: 100%;
        color: black;
        font-size: 100%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras61_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art62 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto62_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras62_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%;
    }

    .art63 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto63_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras63_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box7 {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 0 0 0 10%;
        justify-content: space-between;
    }

    .art71 {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    #texto71_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras71_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .art72 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #texto72_cadastro {
        color: black;
        font-size: 100%;
        font-weight: 700;
    }

    #barras72_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 120%
    }

    .but {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        margin: 5% 0 3% 0;
    }

    .but a {
        width: 40%;
        text-align: center;
        text-decoration: none;
        background-color: #3A4354;
        color: white;
        font-size: 100%;
        border-radius: 50px;
    }

    a:hover {
        transform: scale(1.05);
        transition: 0.2s;
    }
}














/*DESKTOP*/
@media (min-width: 1025px) {
    #title1_cadastro {
        text-align: center;
        font-size: 170%;
        color: #3A4354;
    }

    .outline {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title2_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    #sair_cadastro a {
        text-align: center;
        color: #3A4354;
        font-size: 100%;
        font-weight: 700;
        font-weight: 700;
    }

    .box1 {
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 2% 0 2% 6.5%;
        justify-content: space-around;
    }

    .art11 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto11_cadastro {
        width: 100%;
        color: black;
        font-size: 120%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras11_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art12 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto12_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras12_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
    }

    .art13 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto13_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras13_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box2 {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 2% 0 2% 10%;
    }

    .art21 {
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: start;
    }

    #texto21_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras21_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box3 {
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 2% 0 2% 6.5%;
        justify-content: space-around;
    }

    .art31 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto31_cadastro {
        width: 100%;
        color: black;
        font-size: 120%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras31_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art32 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto32_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras32_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
    }

    .art33 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto33_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras33_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box4 {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
    }

    .art41 {
        display: flex;
        flex-direction: column;
        width: 10%;
    }

    #texto41_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras41_cadastro {
        width: 120%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
    }

    .art42 {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    #texto42_cadastro {
        width: 100%;
        color: black;
        font-size: 120%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras42_cadastro {
        width: 100%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art43 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    #texto43_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras43_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .art44 {
        display: flex;
        flex-direction: column;
        width: 15%;
    }

    #texto44_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras44_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box5 {
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 0 0 0 10%;
        justify-content: space-between;
    }

    .art51 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto51_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras51_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .art52 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto52_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras52_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .art53 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto53_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras53_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 5% 0 0 10%;
    }

    #title6_cadastro {
        text-align: center;
        color: #959595;
        font-size: 20px;
        font-weight: 700;
    }

    .box6 {
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 2% 0 2% 6.5%;
        justify-content: space-around;
    }

    .art61 {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    #texto61_cadastro {
        width: 100%;
        color: black;
        font-size: 120%;
        font-weight: 700;
        margin: 0 10% 0 0;
    }

    #barras61_cadastro {
        width: 90%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
        font-weight: 100;
        margin: 0 10% 0 0;
    }

    .art62 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto62_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras62_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%;
    }

    .art63 {
        display: flex;
        flex-direction: column;
        width: 20%;
    }

    #texto63_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras63_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .box7 {
        display: flex;
        flex-direction: row;
        width: 55%;
        margin: 0 0 0 10%;

    }

    .art71 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto71_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras71_cadastro {
        width: 60%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .art72 {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    #texto72_cadastro {
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    #barras72_cadastro {
        width: 65%;
        height: 80%;
        background: #D9D9D9;
        border-radius: 20px;
        font-size: 150%
    }

    .but {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        margin: 0 0 3% 0;
    }

    .but a {
        width: 30%;
        text-align: center;
        text-decoration: none;
        background-color: #3A4354;
        color: white;
        font-size: 120%;
        border-radius: 50px;
    }

    a:hover {
        transform: scale(1.05);
        transition: 0.2s;
    }
}