body {
    font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}


@media (max-width: 480px) {
    a {
        text-decoration: none;
        color: #3a4354;
    }

    .bot15 {
        margin: 5% -5%;
        font-weight: 700;
    }

    .bot1 {
        width: 80%;
        margin: 0 10%;
    }

    .bot2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30%;

    }

    img {
        width: 15%;
        border-radius: 100px;
    }

    .bot3 {
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    .box {
        display: flex;
        flex-direction: row;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 45%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 80% 2.5% 0 7%;
    }

    .bot8 {
        color: black;
        font-size: 50%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot10 {
        color: #777D80;
        font-size: 30%;
        font-weight: 600;
        margin: 0 1% 1%;
    }


    .box2 {
        display: flex;
        flex-direction: column;
        width: 45%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 80% 7% 0 2.5%;
    }

    .bot9 {
        color: black;
        font-size: 50%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot11 {
        color: #777D80;
        font-size: 30%;
        font-weight: 600;
        margin: 0 1% 1%;
    }

    .bot4 {
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        background: rgb(179, 177, 177);
        border-radius: 10px;
        width: 90%;
        margin: 2% 5%;
        font-size: 80%;
        outline: none;
        color: rgb(0, 0, 0);
    }
}














@media (min-width: 481px) and (max-width: 1024px) {
    a {
        text-decoration: none;
        color: #3a4354;
    }

    .bot15 {
        margin: 5% -5%;
        font-weight: 700;
    }

    .bot1 {
        width: 80%;
        margin: 0 10%;
    }

    .bot2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25%;

    }

    img {
        width: 10%;
        border-radius: 100px;
    }

    .bot3 {
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    .box {
        display: flex;
        flex-direction: row;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 45%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 50% 2.5% 0 7%;
    }

    .bot8 {
        color: black;
        font-size: 80%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot10 {
        color: #777D80;
        font-size: 60%;
        font-weight: 600;
        margin: 0 1% 1%;
    }


    .box2 {
        display: flex;
        flex-direction: column;
        width: 45%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 50% 7% 0 2.5%;
    }

    .bot9 {
        color: black;
        font-size: 80%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot11 {
        color: #777D80;
        font-size: 60%;
        font-weight: 600;
        margin: 0 1% 1%;
    }

    .bot4 {
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        background: rgb(179, 177, 177);
        border-radius: 10px;
        width: 90%;
        margin: 2% 5%;
        font-size: 120%;
        outline: none;
        color: rgb(0, 0, 0);
    }
}













@media (min-width: 1025px) {
    a {
        text-decoration: none;
        color: #3a4354;
    }

    .bot15 {
        margin: 5% -5%;
        font-weight: 700;
    }

    .bot1 {
        width: 80%;
        margin: 0 10%;
    }

    .bot2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20%;

    }

    img {
        width: 5%;
        border-radius: 100px;
    }

    .bot3 {
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 120%;
        font-weight: 700;
    }

    .box {
        display: flex;
        flex-direction: row;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20% 5% 0 10%;
    }

    .bot8 {
        color: black;
        font-size: 100%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot10 {
        color: #777D80;
        font-size: 80%;
        font-weight: 600;
        margin: 0 1% 1%;
    }


    .box2 {
        display: flex;
        flex-direction: column;
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
        margin: 20% 10% 0 5%;
    }

    .bot9 {
        color: black;
        font-size: 100%;
        font-weight: 600;
        margin: 1% 1% 0;
    }

    .bot11 {
        color: #777D80;
        font-size: 80%;
        font-weight: 600;
        margin: 0 1% 1%;
    }

    .bot4 {
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        background: rgb(179, 177, 177);
        border-radius: 10px;
        width: 90%;
        margin: 2% 5%;
        font-size: 200%;
        outline: none;
        color: rgb(0, 0, 0);
    }
}