body{
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
    font-size: 120%;
}
#title_home{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    color: rgb(255, 255, 255);
    bottom: 100%;
    border-width: 100% ;
    text-align: center;
    font-size: xx-large;
    border-style: groove ;
   
}
#logo{
    width: 100px;
    position: absolute;
    margin-top: 1%;
}
#sub_home{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    margin-top: -2.4%;
}
a{
    color: white;
    font-style: normal;
    text-decoration: none;
}
#titulo1_home{
    text-align-last: center;
    margin-right: 20%;
    margin-top: 4%;
    font-size: 150%;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
}
#corpo11_home{
    width: 100%;
    justify-content: center;
    margin-left: 13%;
    margin-top: 5%;
}
#corpo12_home{
    text-align: center;
    background-color: aqua;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
    border-radius: 15px;
    font-size: 120%;
}
#titulo2_home{
    text-align-last: center;
    margin-right: 18%;
    margin-top: 4%;
    font-size: 300%;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Helvetica Neue', sans-serif;
}
#corpo21_home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10%;
    font-size: 120%;
    text-align: center;
}
#corpo22_home{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 120%;
    margin-bottom: 1%;
}
.container{
    display: flex;
}
#corpo3_home{width: 100%; height: 80%; left: 0px; margin-top: 1%; position: absolute; background: #ADADAD; border-top-left-radius: 25px; border-top-right-radius: 25px}
#corpo31_home{width: 15%; height: 36%; left: 5%; margin-top: 5%; position: absolute; background: white; box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25); border-radius: 21px; border: 3px #D1D1D1 solid}
#corpo32_home{width: 15%; height: 36%; left: 45%; margin-top: 5%; position: absolute; background: white; box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25); border-radius: 21px; border: 3px #D1D1D1 solid}
#corpo33_home{width: 15%; height: 36%; left: 83%; margin-top: 5%; position: absolute; background: white; box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25); border-radius: 21px; border: 3px #D1D1D1 solid}
#corpo34_home{width: 15%; height: 36%; left: 64%; margin-top: 20%; position: absolute; background: white; box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25); border-radius: 21px; border: 3px #D1D1D1 solid}
#corpo35_home{width: 15%; height: 36%; left:  25%; margin-top: 20%; position: absolute; background: white; box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25); border-radius: 21px; border: 3px #D1D1D1 solid}

#texto31_home{width: 12%; height: 30%; left: 84.6%; margin-top: 9%; position: absolute; text-align: center; color: #3A4354; font-size: 100%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto32_home{width: 12%; height: 30%; left: 6.8%; margin-top: 9%; position: absolute; text-align: center; color: #3A4354; font-size: 100%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto33_home{width: 12%; height: 30%; left: 26.8%; margin-top: 24%; position: absolute; text-align: center; color: #3A4354; font-size: 100%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto34_home{width: 12%; height: 30%; left: 65.7%; margin-top: 24%; position: absolute; text-align: center; color: #3A4354; font-size: 100%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto35_home{width: 12%; height: 30%; left: 47%; margin-top: 8%; position: absolute; text-align: center; color: #3A4354; font-size: 100%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}







#corpo11_servico{width: 53%; height: 7%; margin-top: 3%; position: absolute; background: #4DC6EC; border-top-left-radius: 20px; text-align: center; color: white; font-weight: 700; font-size: 120%;}
#img11_servico{width: 100%;}
#corpo12_servico{width: 44%; height: 42.7%; left: 53%; margin-top: 3%; position: absolute; }
#texto11_servico{width: 45%; left: 5%; margin-top: 10%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo21_servico{width: 53%; height: 7%; left: 40%; margin-top: 33%; position: absolute; background: #4DC6EC; border-top-left-radius: 20px; text-align: center; color: white; font-weight: 700; font-size: 120%;}
#img21_servico{width: 100%;}
#corpo22_servico{width: 44%; height: 272px; left: 1px; margin-top: 33%; position: absolute; border-top-left-radius: 25px; border: 2px #0AAADD solid}
#texto21_servico{width: 45%; left: 47%; margin-top: 40%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#texto3_servico{width: 80%; left: 42px; margin-top: 60%; position: absolute; text-align: center; color: #76b9f0; font-size: 36px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo31_servico{width: 100%; height: 70%; left: 0px; margin-top: 65%; position: absolute; background: linear-gradient(180deg, #0BC7F0 0%, #0B3677 100%); border-top-left-radius: 25px; border-top-right-radius: 25px}
#corpo32_servico{width: 13%; height: 6%; left: 10%; margin-top: 70%; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 110%}
#texto31_servico{width: 15%; height: 12%; left: 10%; margin-top: 75%; position: absolute; text-align: left; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo33_servico{width: 13%; height: 6%; left: 31%; margin-top: 70%; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 110%}
#texto32_servico{width: 15%; height: 12%; left: 31%; margin-top: 75%; position: absolute; text-align: left; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo34_servico{width: 13%; height: 6%; left: 52%; margin-top: 70%; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 110%}
#texto33_servico{width: 22%; height: 12%; left: 52%; margin-top: 75%; position: absolute; text-align: left; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo35_servico{width: 13%; height: 6%; left: 75%; margin-top: 70%; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px; color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 110%}
#texto34_servico{width: 18%; height: 12%; left: 75%; margin-top: 75%; position: absolute; text-align: left; color: white; font-size: 16px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#texto4_servico{left: 9%; margin-top: 86%; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Open Sans; font-weight: 700; text-transform: uppercase; word-wrap: break-word}

#corpo4_servico{width: 15%; height: 10%; left: 40%; margin-top: 91%; position: absolute; background: white; box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25); border-radius: 33px ; color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 110%}
#corpo4_servico a {color: rgb(28, 101, 134); text-align: center; font-weight: 700; font-size: 100%}







#texto11_suporte{width: 32%; left: 11%; margin-top: 3%; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto12_suporte{width: 32%; left: 58%; margin-top: 3%; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo1_suporte{width: 100%; height: 50%; left: 0px; margin-top: 13%; position: absolute; border: 2px #0AAADD solid}
#img1_suporte{width: 100%; height: 100%;}

#texto21_suporte{width: 20%; left: 4%; margin-top: 39%; position: absolute; text-align: center;font-weight: 700}
#texto22_suporte{width: 20%; left: 78%; margin-top: 39%; position: absolute; text-align: center;font-weight: 700}

#corpo21_suporte{width: 20%; height: 6%; left: 54%; margin-top: 40%; position: absolute; background: #5693CB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 5px; border: 2px #0AAADD solid; color: rgb(255, 255, 255); text-align: center; font-weight: 700; font-size: 110%}
#corpo22_suporte{width: 20%; height: 6%; left: 28%; margin-top: 40%; position: absolute; background: #5693CB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); border-radius: 5px; border: 2px #0AAADD solid; color: rgb(255, 255, 255); text-align: center; font-weight: 700; font-size: 110%}







#corpo1_afiliados{width: 100%; height: 15%; left: 0px; position: absolute; background: linear-gradient(90deg, #5BBEDD 0%, #0285FE 25%); color: rgb(255, 255, 255); text-align: center; font-weight: 700; font-size: 160%}

#corpo21_afiliados{width: 27%; height: 70%; left: 0px; margin-top: 7.3%; position: absolute; border: 3px #0AAADD solid}
#img11_afiliados{width: 100%; height: 100%}
#texto21_afiliados{width: 30%; height: 20%; left: 30%; margin-top: 10%; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto22_afiliados{width: 30%; height: 20%; left: 32%; margin-top: 22%; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#corpo22_afiliados{width: 27%; height: 70%; left: 70%; margin-top: 7.3%; position: absolute; border: 3px #0AAADD solid}
#img12_afiliados{width: 100%; height: 100%}
#texto23_afiliados{width: 30%; height: 20%; left: 30%; margin-top: 30%; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#texto24_afiliados{width: 30%; height: 20%; left: 30%; margin-top: 36%; position: absolute; text-align: center; color: black; font-size: 26px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}








#sair_cadastro a{left: 7%; top: 15%; position: absolute; text-align: center; color: #3A4354; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word; font-weight: 700}

#title1_cadastro{text-align: center; font-size: 170%; color: #3A4354;}

#title2_cadastro{left: 7%; position: absolute; text-align: center; color: #959595; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}

#texto11_cadastro{left: 7%; margin-top: 6%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras11_cadastro{width: 40%; height: 5.5%; left: 7%; margin-top: 8%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto12_cadastro{left: 51%; margin-top: 6%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras12_cadastro{width: 16%; height: 5.5%; left: 51%; margin-top: 8%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto13_cadastro{left: 71%; margin-top: 6%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras13_cadastro{width: 16%; height: 5.5%; left: 70.5%; margin-top: 8%; position: absolute; background: #D9D9D9; border-radius: 26px}



#texto21_cadastro{left: 7%; margin-top:14% ; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras21_cadastro{width: 17%; height: 5.5%; left: 7%; margin-top: 16%; position: absolute; background: #D9D9D9; border-radius: 26px}



#texto31_cadastro{left: 7%; margin-top: 22%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras31_cadastro{width: 36%; height: 5.5%; left: 7%; margin-top: 24%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto32_cadastro{left: 47%; margin-top: 22%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras32_cadastro{width: 17%; height: 5.5%; left: 47%; margin-top: 24%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto33_cadastro{left: 68.5%; margin-top: 22%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras33_cadastro{width: 17%; height: 5.5%; left: 68.5%; margin-top: 24%; position: absolute; background: #D9D9D9; border-radius: 26px}



#texto41_cadastro{left: 7%; margin-top: 30%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras41_cadastro{width: 17%; height: 5.5%; left: 7%; margin-top: 32%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto42_cadastro{left: 26%; margin-top: 30%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras42_cadastro{width: 39%; height: 5.5%; left: 26%; margin-top: 32%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto43_cadastro{left: 67.5%; margin-top: 30%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras43_cadastro{width: 8.5%; height: 5.5%; left: 67.5%; margin-top: 32%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto44_cadastro{left: 78.5%; margin-top: 30%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras44_cadastro{width: 8.5%; height: 5.5%; left: 78.5%; margin-top: 32%; position: absolute; background: #D9D9D9; border-radius: 26px}



#texto51_cadastro{left: 7%; margin-top: 38%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras51_cadastro{width: 232px; height: 5.5%; left: 7%; margin-top: 40%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto52_cadastro{left: 26%; margin-top: 38%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras52_cadastro{width: 17%; height: 5.5%; left: 26%; margin-top: 40%; position: absolute; background: #D9D9D9; border-radius: 26px}

#texto53_cadastro{left: 47%; margin-top: 38%; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Open Sans; font-weight: 700; word-wrap: break-word}
#barras53_cadastro{width: 17%; height: 5.5%; left: 47%; margin-top: 40%; position: absolute; background: #D9D9D9; border-radius: 26px}





input{
    width: 98%;
    height: 98%;
}
.back{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.loginback{
width: 100%;
height: 100%;
position: relative;
}
.loginimg1 {
    width: 60px;
    height: 65px;
    left: 628px;
    top: 748px;
    position: absolute;
}
.loginimg2 {
    width: 67px;
    height: 80px;
    left: 550px;
    top: 738px;
    position: absolute;
}
.loginimg3 {
    width: 55px;
    height: 70px;
    left: 700px;
    top: 737px;
    position: absolute;
}
.login1{
width: 145px;
height: 30px;
left: 580px;
top: 718px;
position: absolute;
text-align: center;
color: #131414;
font-size: 16px;
font-family: Open Sans;
font-weight: 700;
word-wrap: break-word;
}
.login2{
width: 322px;
height: 32px;
left: 494px;
top: 446px;
position: absolute;
background: #E9E3E3;
border-radius: 5px;
border: 2px #0AAADD solid
}
.login3{
width: 129px;
height: 36px;
left: 454px;
top: 324px;
position: absolute;
text-align: center;
color: black;
font-size: 16px;
font-family: Open Sans;
font-weight: 700;
word-wrap: break-word
}
.login4{
width: 122px;
height: 24px;
left: 466px;
top: 421px;
position: absolute;
text-align: center;
color: black;
font-size: 16px;
font-family: Open Sans;
font-weight: 700;
word-wrap: break-word
}
.login5{
height: 81px;
padding-left: 14px;
padding-right: 14px;
padding-top: 10.12px;
padding-bottom: 10.12px;
left: 671px; top: 53px;
position: absolute;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 13.50px;
display: inline-flex
}
.login6{
width: 28px;
height: 27px;
border: 2px white solid;
border-radius: 20px;
}
.login7{
width: 56px;
height: 20.25px;
border: 2px white solid;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
/*
.login8{
height: 19px;
padding-top: 2.64px;
padding-bottom: 0.53px;
padding-left: 2.12px;
padding-right: 2.12px;
left: 504px;
top: 451px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0px;
display: inline-flex
}
 
.login9{
width: 7.08px;
height: 7.12px;
border: 2px #777D80 solid
}
.login10{
width: 12.75px;
height: 8.71px;
border: 2px #777D80 solid
}
*/
.login11{
width: 548px;
height: 30px;
left: 318px;
top: 76px;
position: absolute;
text-align: center;
color: white;
font-size: 32px;
font-family: Open Sans;
font-weight: 700;
word-wrap: break-word
}
.login12{
width: 322px;
height: 34px;
left: 494px;
top: 355px;
position: absolute;
background: #E9E3E3;
border-radius: 5px;
border: 2px #0AAADD solid
}
/*
.login13{
width: 32px;
height: 28px;
left: 501px;
top: 355px;
position: absolute
}
.login14{
width: 6.67px;
height: 7px;
left: 9.33px;
top: 11.67px;
position: absolute;
border: 2px #777D80 solid
}
.login15{
width: 20px;
height: 18.67px;
left: 4px;
top: 4.67px;
position: absolute;
border: 2px #777D80 solid
}
*/
.login16{
width: 134px;
height: 39px;
left: 589px;
top: 523px;
position: absolute
}
.login17{
width: 134px;
height: 32.80px;
left: 0px;
top: 0px;
position: absolute;
background: #4C73AE;
border-radius: 10px
}
.login18{
width: 91px;
height: 35.45px;
left: 21px;
top: 3.55px;
position: absolute;
text-align: center;
color: white;
font-size: 20px;
font-family: Open Sans;
font-weight: 700;
word-wrap: break-word
}
.login19{
width: 244px;
height: 20px;
left: 534px;
top: 603px;
position: absolute;
text-align: center;
color: white;
font-size: 12px;
font-family: Open Sans;
font-weight: 700;
text-decoration: underline;
word-wrap: break-word
}
.login20{
width: 39px;
height: 39px;
left: 1180px;
top: 35px;
position: absolute
}
/*
.login21{
width: 9.75px;
height: 29.25px;
left: 4.88px;
top: 4.88px;
position: absolute;
border: 2px white solid
}
.login22{
width: 8.12px;
height: 16.25px;
left: 26px;
top: 11.38px;
position: absolute;
border: 2px white solid
}
.login23{
width: 19.50px;
height: 0px;
left: 14.62px;
top: 19.50px;
position: absolute;
border: 2px white solid
}
*/
.login24{
width: 104px;
height: 44px;
left: 11px;
top: 16px;
position: absolute;
text-align: center;
color: white;
font-size: 16px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word;
text-decoration: none;
}










.bot1{
width: 1280px;
height: 832px;
position: relative;
background: white}
.bot2{
width: 46px;
height: 42px;
left: 617px;
top: 333px;
position: absolute}
.bot3{
width: 315px;
height: 24px;
left: 500px;
top: 400px;
position: absolute;
color: black;
font-size: 20px;
font-family: Inter;
font-weight: 700;
word-wrap: break-word;
}
.bot4{
width: 1070px;
height: 47px;
left: 80px;
top: 748px;
position: absolute;
background: white;
border-radius: 12px;
border: 0.50px #777D80 solid
}
.bot5{
left: 94px;
top: 763px;
position: absolute;
color: #777D80;
font-size: 16px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
}
.bot6{
width: 378px;
height: 64px;
left: 252px;
top: 665px;
position: absolute;
background: white;
border-radius: 12px;
border: 0.50px #777D80 solid
}
.bot7{
width: 378px;
height: 64px;
left: 663px;
top: 665px;
position: absolute;
background: white;
border-radius: 12px;
border: 0.50px #777D80 solid
}
.bot8{
left: 267px;
top: 672px;
position: absolute;
color: black;
font-size: 14px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
}
.bot9{
left: 678px;
top: 671px;
position: absolute;
color: black;
font-size: 14px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
}
.bot10{
width: 363px;
left: 267px;
top: 690px;
position: absolute;
color: #777D80;
font-size: 12px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
}
.bot11{
width: 363px;
left: 678px;
top: 690px;
position: absolute;
color: #777D80;
font-size: 12px;
font-family: Inter;
font-weight: 400;
word-wrap: break-word
}
/*
.bot12{
width: 44px;
height: 44px;
left: 42px;
top: 43px;
position: absolute
}
.bot13{
width: 25.67px;
height: 0px;
left: 9.17px; top:
22px; position: absolute;
border: 2px black solid
}
.bot14{
width: 12.83px;
height: 25.67px;
left: 9.17px;
top: 9.17px;
position: absolute;
border: 2px black solid
}
*/
.bot15{
width: 44px;
height: 44px;
left: 42px;
top: 43px;
position: absolute;
text-decoration: none;
color: rgb(0, 0, 0);
}
 
.botext{
width: 100%;
height: 100%;
}